<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi App{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/basic.css')}}">
</head>

<body>
    <header>

        <h1>Esta es la cabecera de mi aplicación</h1>
        <hr/>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Inicio</a></li>
                <li><a href="{{url_for('saludo',name='invitado')}}">Saludo</a></li>
                <li><a href="{{url_for('catalogo')}}">Catálogo</a></li>
            </ul>
    </header>
    <main>
        <h1>Contenido de mi página</h1>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <hr/>
        <p>2026&copy; Mi Aplicación. Todos los derechos reservados.</p>
</body>

</html>