<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    {% extends "base.html" %}

{% block content %} 
    <h1>Catalogo de Productos</h1>
    <p>Este es el catálogo de nuestros productos.</p>

     <ul>
        {% for producto in listaDeproductos %}
            <li>
                <strong>Nombre:</strong> <a href="{{url_for('producto',idproducto= loop.index -1)}}">{{ producto.nombre }}</a><br>
                <strong>Precio:</strong> ${{ producto.precio }}<br>
                <strong>Stock:</strong> {{ producto.stock }}<br>
                <strong>Disponible:</strong> 
                {% if producto.disponible %}<span style="color: green">En stock</span>
                {% else %}<span style="color: red">Agotado</span>{% endif %}
                
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block title %}Inicio{% endblock %}
   
    <!--<h2>Nombre pasado desde Flask: {{ nombre }}</h2>
    <h2>ID del producto pasado desde Flask: {{ id_producto }}</h2>-->
   
    
</body>
</html>